<template>
  <div class="test">
    <Header class="header_display"/>
    <nuxt />
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
export default {
  components: {
    Header
  }
  
}
</script>

<style>
/* ----------------- default setup nuxt --------------- */

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* --------------------- layout ---------------------- */

.container {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* background-color: green; */
}

.centralPan {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width-layout {
  width: 90%;

}

/* ------------------ background-color ------------------ */

.bg-b-pst {
  background-color: rgb(50, 117, 204);
  color: white;
}

.bg-g-pst {
  background-color: rgb(173, 216, 19);
  color: black;
}

.bg-y-pst {
  background-color: rgb(255, 208, 0);
  color: black;
}

.bg-test {
  background-color: red;
}

/* -------------------- color --------------------- */

.b-pst {
  color: rgb(50, 117, 204);
}

.g-pst {
  color: rgb(173, 216, 19);
}

.y-pst {
  color: rgb(255, 208, 0);
}

/* -------------------- button --------------------- */

.button {
  box-shadow: 1px 1px 1px black;
  border-radius: 4px;
  padding: 8px 16px;
} .button:hover {
  opacity: 0.90;
} .button:active {
  box-shadow: 1px 1px 1px black inset;
} .button:focus {
  outline: none;
}

/* ------------------ dropdown -------------------- */

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  height: 170px;
  margin: 5px;
  padding: 17px 10px 10px 10px;
  z-index: 10;

}

.dropdown:hover .dropdown-content, .dropdown-content:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* -------------------- form --------------------- */

#check {
    width: 18px;
    height: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
} 

.input {
    margin-top: 30px;
    width: 90%;
    padding: 7px 0 7px 20px;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
}
input:focus {
    background-color: white;
    outline: none;
    border-bottom: 1px solid rgb(50, 122, 204);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------ title ------------------ */

.title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 1%;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px black;
}

/* ------------------- other thing ---------------- */

li {
  list-style: none;
}

</style>