<template>
    <div>
        <page1/>
    </div>
</template>
    
<script>
import axios from 'axios'
import page1 from '~/components/page_1.vue'
export default {
    components: {
        page1,
    }
    
}
</script>

<style lang="postcss" scoped>

</style>