<template>
    <div>
        <firstLogin class="container"/>
    </div>
</template>
    
<script>
import firstLogin from '../components/FirstLogin.vue'
export default {
    components: {
      firstLogin
    }
}
</script>

<style lang="postcss" scoped>

</style>