<template>
    <div>
        <login class="centralPan"/>
    </div>
</template>
    
<script>
import login from '../components/Login.vue'
export default {
    components: {
      login
    }
}
</script>

<style lang="postcss" scoped>


</style>