<template>
    <div class="content">
        <h1 class="title b-pst"><b>Première connexion</b></h1>
        <form class="form" action="http://127.0.0.1:5000/api/users" method="post">
            <input class="input" type="email" name="user_email" id="user_email" placeholder="@mail">
            <input class="input" type="text" name="user_name" id="user_name" placeholder="Nom">
            <input class="input" type="text" placeholder="mot de passe">
            <input class="input" type="text" name="user_password" id="user_password" placeholder="confirmer mot de passe">
            <div class="checkbox">
                <input type="checkbox" name="" id="check">
                <label for="check">Se souvenir de moi</label>
            </div>
            <button class="button bg-y-pst" type="submit" value="">Valider</button>
        </form>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'firstLogin'
        }
    }
    
}
</script>

<style lang="postcss" scoped>

form {
    width: 90%;
    max-width: 900px;
    padding-bottom: 5px;
    margin-top: 2%;
    box-shadow: 5px 5px 8px rgb(206, 206, 206); 
}

button {
    margin: 30px;
    width: 90%;
}
</style>