<template>
    <header class="bg-b-pst" fixed="top">
        <img class="header_img" src="../assets/logo_blanc_bandeau.png" alt="">
        <ul>
            <li class="header_li">
                <a class="button bg-y-pst" href="fiche-entreprise">Fiche entreprise</a>
            </li>
            <li class="header_li">
                <a class="button bg-y-pst" href="listing">Liste d'entreprise</a>
            </li>
            <li class="connexion">
                <a class="button bg-y-pst" href="/">Deconnexion</a></li>
        </ul>
    </header>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'Header',
        }
    }
    
}
</script>

<style lang="postcss" scoped>
header {
    display: flex;
    align-items: center;
    padding: 10px;
    /* width: 100%; */
    overflow: hidden;
    z-index: 10;
}

.header_img {
  max-width: 200px;
}

ul {
    width: 100%;
    margin-left: 1%;
    height: auto;
}

.header_li {
    float: left;
    margin: 0 10px;
}

.connexion {
    float: right;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    [class = 'header_li'] {
        margin: 0 5px;
    }
}
</style>