<template>
    <div>
        <form class="flex" action="first-login">
            <button class="bg-b-pst button" type="submit" value="">Première connexion</button>
        </form>
        <form class="form" action="fiche-entreprise" method="post">
            <input class="input" type="text" name="" id="" placeholder="Identifiant">
            <input class="input" type="text" placeholder="mot de passe">
            <div class="checkbox">
                <input type="checkbox" name="" id="check">
                <label for="check">Se souvenir de moi</label>
            </div>
            <li><a href="">Mot de passe perdu ?</a></li>
            <button class="bg-g-pst button b_padding" type="submit" value="">Valider</button>
        </form>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'login'
        }
    }
    
}
</script>

<style lang="postcss" scoped>

.flex {
    dislay: flex;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 900px;
    padding-bottom: 5px;
}

.form {
    margin: 5% 0 7% 0;
    box-shadow: 5px 5px 8px rgb(206, 206, 206);
}

li {
    list-style: none;
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    color: rgb(50, 117, 204);
}

button {
    width: 90%;
    margin: 3vh;
}



/* @media only screen and (max-width:768px) {
    [class*='form'] {
        width: 500px;
    }
} */
/* @media only screen and (max-width: 450px) {
    [class*='form'] {
        width: 95%;
    }
    [class*='blue-PST'] {
        margin-top: 50px;
    }
}

@media only screen and (max-height: 720px) {
    [class*='blue-PST'] {
        margin-top: 20px;
    }
    [class*='button'] {
        margin: 10px;
    }
}

@media only screen and (max-height: 568px) {
    [class*='blue-PST'] {
        margin-top: 10px;
    }
    [class*='button'] {
        margin: 0px;
    }
} */

</style>