<template>
    <div>
        <h1>FICHE ENTREPRISE /</h1> 
        <h1>FICHE ENTREPRISE ADHESION</h1>
        <form action="">
            <label for="date">Date de la visite :</label>
            <input type="datetime-local" id="date" placeholder="JJ/MM/AAAA"><br>
            <label for="who">Visite réalisée par :</label>
            <input type="text" id="who" placeholder="nom de l'intervenant"><br>
            <label for="doc">Médecin du travail :</label>
            <input type="text" id="doc"><br>
            <label for="team">Équipe :</label>
            <input type="text" id="team" value="Caen Sud 3">
        </form>
        <p>
            Dans chaque entreprise ou établissement, le médecin du travail établit et met à jour une fiche d'entreprise sur laquelle sont notamment consignés les risques professionnels et les effectifs de salariés exposés à ces risques. Cette fiche est transmise à l'employeur. Elle est tenue à la disposition de l'inspecteur du travail et du médecin inspecteur régional du travail. Elle peut être consultée par les agents des services de prévention des caisses régionales d'assurance maladie (Art. D4624 du Code du Travail).
            L’évaluation et la prévention des risques professionnels s’inscrivent dans le cadre de la responsabilité de l’employeur, qui a une obligation générale d’assurer la sécurité et de protéger la santé des salariés. La Fiche d’Entreprise a été réalisée à partir des informations diffusées par l’entreprise au Service de Santé au Travail.<br>
            Les conseils et propos tenus sont uniquement fournis dans le but d’aider les personnes intéressées. L’auteur invite le lecteur à consulter dans leur intégralité les documents, références et textes cités et à se reporter à la législation en vigueur.
            Le service PST s’engage à tenir confidentiels toutes les informations, données et résultats de travaux recueillis dans le cadre de la présente intervention.
            Les travaux et résultats d’analyse sont la propriété de l’entreprise. Toute utilisation de travaux à portée généralisable fera l’objet d’un accord écrit entre le service PST et l’entreprise. 
        </p>
        <table>
            <thead>
                <tr>
                    <th>Référence:</th>
                    <th>Rédacteur</th>
                    <th>Visé par:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
                <tr>
                    <td colspan="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti esse consectetur repellendus ipsam sed officiis corporis suscipit maiores, error, ab ratione facere sequi obcaecati saepe cumque dignissimos? Autem, harum error?</td>
                </tr>
            </tbody>
        </table>
        <h2></h2>
    </div>
</template>
    
<script>
export default {
    data() {
        return {
            name: 'page1'
        }
    }
}
</script>

<style lang="postcss" scoped>
td, th {
    border: 1px solid black;
}
</style>