<template>
    <div class="full-width-layout">
        <div class="title g-pst" style="font-size: 30px;">{{title}}</div>
        <div class="frame"></div>
    </div>
</template>
    
<script>
export default {
    props: ['title']
    
}
</script>

<style lang="postcss" scoped>

.frame {
    width: 100%;
    height: 70vh;
    border: 1px solid black;
}

</style>